body {
    background-color: rgb(80, 133, 217);
}

.title {
    color: rgb(25, 27, 31);
    text-align: center;
    font-family: cursive;
}

ul {
    display: table;
    margin: 0 auto;
    font-family: cursive;
}

